@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
body{
  background: url(../img/bg.png);
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
}
.logo {
  position: relative;
  padding: 45px;
}
.container {
  padding-top: 10%;
  position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px
}

@media screen and (max-width: 60px) {
  .container {
    padding-top: 49em;
  }
}

.container h2 {
  text-align: center;
  
  line-height: 0.785em;
  color: yellow;
  display: block;
}
@media screen and (min-width: 601px) {
  .container {
    padding-top: 3%;
  }
  .container h2 {
    font-size: 10em;
  }
}

@media screen and (max-width: 600px) {
  .container h2 {
    font-size: 41.5vw;
  }

}

.container h3 {
  display: block;
  font-weight: 8vw;

  letter-spacing: 7px;
  font-size: 2.5em;
  text-align: center;
  line-height: 1em;
  color: yellow;
  padding-bottom: 50px;
}
.countdown {
  display: flex;
  margin-top: 50px;
}
.countdown div {
  position: relative;

  width: 10vw;
  min-width: 60px;

  max-height: 100px;
  height: 20vw;
  min-height: 70px;
 
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 1vw;
  font-size: 3em;
  font-weight: 500;
  padding-top: 0px;
}
.countdown div:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 9vw;
  max-height: 50px;
  background: #ff0;
  color: #333;
  font-size: 0.4em;
  line-height: 35px;
  font-weight: 300;
  margin: 0;

}
.countdown div#day:before {
  content: "Days";
}
.countdown div#hour:before {
  content: "Hours";
}
.countdown div#minute:before {
  content: "Minutes";
}
.countdown div#second:before {
  content: "Seconds";
}
.button {
  position: relative;
  text-align: center;
  margin: 20px 100px 0px 100px;
  width: 200px;
  padding: 10px;
  font-size: 25px;
  color: white;
  font-family: monospace;
  bottom: -40px;
  font-weight: 400;
  border: 4px solid yellow;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 50px;
  transition: 1s;
}

.button:hover {
  box-shadow: 0 5px 50px 0 #ffff00 inset, 0 5px 50px 0 #ffff00,
    0 5px 50px 0 #ffff00 inset, 0 5px 50px 0 #ffff00;
  text-shadow: 0 0 5px #ffff00, 0 0 5px #ffff00;
}
.place {
  position: relative;
  bottom: -45px;
  left: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ffff00;
  padding-top: 5px;
}


@media screen and (max-width: 600px) {

  .countdown div:before{
    font-size: 0.3em;
  }

  .button {
    margin: 0px 100px 0px 100px;
    width: 150px;
    font-weight: 200;
    font-size: 18px;
  }
  .container h3{
    font-size: 2em;
  }
  .place{
    font-size: 1em;
  }
}

input {
  border: 4px solid yellow;
  border-radius: 50px;
  line-height: 0.7em;
  max-height: 30px;
  height: 8vh;
  min-height: 20px;
  width: 250px;
  padding:0px 4px 0px 7px;
  font-weight: 600;
  background-color: transparent;
  color: white;
}
input::placeholder{
    color: white;
    opacity: 0.8;
}

.input {
  position: relative;
  margin: 0;
  padding: 10px;
}

.submit {
  margin-left: 10em;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  font-size: 30px;
  font-weight: 50;
  color: #ffff00;
}

.submit:hover {
  text-shadow: 0 0 5px #ffff00, 0 0 5px #ffff00;
}


form > button{
    border: 4px;
    background-color: transparent;
}